/* MAIN BODY STYLES */
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    text-decoration: none;
}

button {
    width: 90px;
    height: 25px;
}

/* STYLES FOR NAVBAR */
.navigation {
    background-color: #1F2937;
    padding: 0 15px 0 15px;
}

.navdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    margin-right: auto;
    padding-left: 0;
}

.logo a {
    color: #f9faf8;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 12px;
}

/* STYLES FOR HERO SECTION */
.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
}

.hero h1 {
    color: #f9faf8;
    font-size: 48px;
}

.hero-button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border: 1px solid #3882F6;
}

.hero-p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #727177;
    width: 550px;
    height: 150px;
}

.hero-placeholder p {
    color: white;
}

/* STYLES FOR IMAGE SECTION */
.image-div {
    padding: 50px;
}

.image-div-h3 {
    text-align: center;
}

.images {
    display: flex;
    justify-content: space-around;
}

.image-item {
    height: 100px;
    width: 100px;
    border: solid 2px #3882F6;
    color: white;
    border-radius: 8px;
}

.image-subtext {
    width: 100px;
    text-align: center;
}

/* STYLES FOR QUOTE SECTION */
.quote-section {
    background-color: #E5E7EB;
    padding: 25px;
}

.quote {
    font-size: 36px;
    color: #1f2937;
}

.thor {
    text-align: end;
}

/* STYLES FOR FOOTER */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.footer-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882F6;
    color: #f9faf8;
    height: 105px;
    width: 700px;
    border-radius: 5px;
}

.call-action {
    font-weight: bold;
}

.footer-button {
    border: solid 1px white;
    color: white;
    background-color: #3882F6;
    border-radius: 5px;
}