* {
    font-family: 'Roboto', sans-serif;
    padding-left: 24px;
    padding-right: 24px;
}

#header-logo {
    font-size: 24px;
    color: #f9faf8;
    margin-right: auto;
    padding-left: 0;
}

.header-item {
    font-size: 18px;
    color: #E5E7EB;
    padding: 2px;
}

header {
    display: flex;
    justify-content: flex-end;
}

#second-div-h3 {
    text-align: center;
}

#image-divs {
    display: flex;
    justify-content: space-between;
}

.second-div-item {
    height: 100px;
    width: 100px;
    border: solid 2px #3882F6;
    color: white;
    border-radius: 8px;
}

#first-button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border: 2px solid white;
}

#second-button {
    border: solid 2px white;
    color: white;
    background-color: #3882F6;
    border-radius: 5px;
}